/* assets/main.css */

/* Main content container width */
.stApp {
  max-width: 100%; /* Adjust maximum width */
  margin: 0 auto;   /* Center the content horizontally */
  padding: 1rem;    /* Add padding if needed */
}

/* Adjust button styling */
div.stButton > button {
  background-color: #0066cc;
  color: white;
  border-radius: 8px;
}

div.stButton > button:hover {
  background-color: #004c99;
}

/* Adjust the sidebar width */
.css-1v3fvcr {  /* Replace this with the actual class for your sidebar */
  width: 200px; /* Adjust width as needed */
}
.st-emotion-cache-1jicfl2 {
  padding-left: 1rem;
  padding-right: 2rem;
}
.st-emotion-cache-115gedg {
  width: calc(40.6667% - 1rem);
  flex: 1 1 calc(40.6667% - 1rem);
}

.st-emotion-cache-1r6slb0 {
  width: calc(45.3333% - 1rem);
  flex: 1 1 calc(45.3333% - 1rem);
}